/* Box peer modal */
.box-peer-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100dvh;
    top: 0;
    /* font-size: 14px; */
    /* padding: 5px; */
    background: #ffffff09;
}

.box-peer-modal__background {
    position: absolute;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(2px);
}

.box-peer-modal__container {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 80dvh;
    background: #1b1e23;
    /* background: linear-gradient(233deg, #0d1414, #100c12); */
    border-radius: 15px;
    padding: 40px 35px 75px 35px;
    align-items: center;
    /* transition: 0.3s ease; */
    gap: 20px;
    border: solid 1px #ffffff0f;
}


.box-peer-modal__icon-back {
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
}

.box-peer-modal__icon-back svg {
    width: 100%;
}

.box-peer-modal__connect-server,
.box-peer-modal__create-server {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.box-peer-modal__connect-server p {
    text-align: center;
}

.box-peer-modal__connect-server button {
    border: 0;
    border-radius: 25px;
    /* height: 38px; */
    width: fit-content;
    background: #ababab12;
    color: white;
    display: flex;
    align-items: center;
    border: solid 1px #ffffff38;
    /* gap: 5px; */
    margin-top: 15px;
    padding: 3px 5px;
    margin-left: auto;
    font-family: inherit;
    font-size: var(--font-family-small);
    cursor: pointer;
}

.box-peer-modal__connect-server span {
    padding: 0 10px 0 12px;
    /* grid-column: 1 / 3; */
}

.box-peer-modal__connect-server svg {
    border: 0;
    border-radius: 25px;
    height: 34px;
    width: 34px;
    background: #ababab12;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ffffff38;
    gap: 5px;
    position: relative;
    right: -1px;
}

.box-peer-modal input {
    border-radius: 22px;
    border: none;
    padding: 28px;
    /* width: 100px; */
    background: #eef5ff21;
    color: white;
    font-family: inherit;
    font-size: var(--font-size-small);
    /* field-sizing: content; */
}

.box-peer-modal input:focus {
    outline: solid 1px #9875ffd3;
}

.box-peer-modal__options {
    position: absolute;
    bottom: 15px;
    background: #eef5ff21;
    padding: 8px 15px;
    border-radius: 25px;
    display: flex;
    gap: 10px;
}

.box-peer-modal__options span {
    display: flex;
}

/* Fin Box peer modal */

@media (max-width:900px) {

    .box-peer-modal__container {
        height: 100dvh;
        border-radius: 0;
    }
}

@keyframes giveColor {
    0% {
        color: #bec1c500;
    }

    100% {
        color: #cccccf;
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
        /* border: solid 1px #93ffb7; */
    }

    100% {
        transform: rotate(360deg);
        /* border: solid 1px #93ffb7; */
    }
}