.options-stream {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: #fdfeff0d;
    padding: 6px 6px;
    width: min-content;
    border-radius: 12px;
    border: solid 1px #ffffff0f;
}

.options-stream button {
    border-radius: 9px;
    border: 0 transparent;
    cursor: pointer;
    /* padding: 4px 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.shared-screen {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    /* box-shadow: 2px 3px 0 #eb5858;    */
    /* border: 1px #eb585817 solid !important; */
    background: #d7333000;
    color: white;
    transition: 0.2s ease-in;
}

.shared-screen:hover {
    box-shadow: 1px 1px 0 #eb585849;
}

.call-close {
    width: 45px;
    height: 45px;
    padding: 8px;
    border: 1px solid #ff6049f7 !important;
    box-shadow: 2px 2px 0px 0px #00000017;
    background: #63313169;
    color: #ef8787;
}

.options-stream__connect {
    width: 45px;
    height: 45px;
    border: 1px #00ff550f solid !important;
    background: #0000000f;
    color: #90ffa4;
    transition: 0.2s ease-in;
}

.options-stream__connect:hover {
    box-shadow: 1px 1px 0 #00ff5559;
}