---
import HowUse from "@/components/HowUse.astro";
import ModalVideoPlayer from "@/components/ModalVideoPlayer/ModalVideoPlayer";
import BoxUsersStatus from "@/components/boxUsersStatus/BoxUsersStatus";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Ahiseve">
	<main>
		<ModalVideoPlayer client:load />
		<BoxUsersStatus client:load />
		<HowUse />
	</main>
</Layout>

<style>
	body {
	}
</style>
