---
import BoxDownloadExtension from '@/components/BoxDownloadExtension.astro';
import { HomeScreen } from '@/components/HomeScreen/HomeScreen';
import HowUse from '@/components/HowUse.astro';
import InfoVideoElementExtension from '@/components/InfoVideoElementExtension.astro';
import ModalVideoPlayer from '@/components/ModalVideoPlayer/ModalVideoPlayer';
import BoxUsersStatus from '@/components/boxUsersStatus/BoxUsersStatus';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Ahiseve'>
  <main>
    <ModalVideoPlayer client:load />
    <!-- <BoxUsersStatus client:load /> -->
    <HomeScreen client:load transition:persist />

    <HowUse />
    <BoxDownloadExtension />
    <InfoVideoElementExtension />
  </main>
</Layout>

<style>
  body {
  }
</style>
