---
import ModalS from "./ModalS.astro";
---

<style>
    .box-download-extension {
        position: fixed;
        right: 10px;
        top: 150px;
        background: #ffffff13;
        border-radius: 10px;
        border: 1px solid #ffffff05;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bac1d3;
    }
    .box-download-extension-modal {
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        height: 80dvh;
        background: #1b1e23;
        border-radius: 15px;
        padding: 35px;
        border: solid 1px #ffffff0f;
        overflow: auto;
    }
    .box-download-extension-modal img {
        margin: auto;
        margin-top: 8px;
        width: 98%;
        border-radius: 10px;
        border: 4px #ffffff1c solid;
    }
    .box-download-extension-modal p {
        padding: 0;
        margin: 11px 0;
    }
    .box-download-extension-modal a {
        color: #4444ff;
    }
</style>

<a class="box-download-extension">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-puzzle"
    >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
            d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"
        ></path>
    </svg>
</a>
<ModalS point="box-download-extension" class="box-download-extension-modal">
    <h3>Descarga e instala la extension(Beta)</h3>
    <p>
        1. <a
            href="https://github.com/essence-s/media-element-selection-extension/archive/refs/heads/dist.zip"
            >Descarga aqui</a
        >
    </p>
    <p>2. Ve a chrome://extensions/</p>
    <p>3. En la parte superior derecha, activa el modo desarrollador.</p>
    <p>
        4. Aparece en la parte superior una zona con tres botones en el que
        tienes que utilizar el denominado Cargar descomprimida.
    </p>
    <p>
        5. Ahora descomprime el zip descargado anteriormente ,la carpeta
        resultante es la que tiene que cargar en "Carga descomprimida" o
        arrastre la carpeta.
    </p>
    <img src="/img-install-extension.png" alt="img-install-extension" />
</ModalS>
